body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #0a143a;
}
.header {
  max-width: 1146px;
  margin: auto;
  padding-top: 30px;
}
.navbar {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar-menu {
  margin-right: auto;
}
.navbar-menu .menu {
  list-style: none;
  margin: 0;
  padding-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar-menu .menu-item:not(:last-child) {
  margin-right: 14px;
}
.navbar-menu .menu-link {
  text-decoration: none;
  color: #0a143a;
}
.navbar .button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.navbar .button-link {
  color: #0a143a;
}
.navbar .button-primary {
  border-radius: 5px;
  background: #256eeb;
  color: #ffffff;
}
.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
}
.search-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 5px;
  border: none;
  padding-left: 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  padding: 13px 17px 13px 20px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
